<?xml version="1.0" encoding="utf-8"?>
<manifest
    xmlns:android="http://schemas.android.com/apk/res/android"
    package="fr.paris.android.signalement"
    android:versionCode="5" 
    android:versionName="@string/app_version">
        
    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="16" />

    <uses-permission
        android:name="android.permission.INTERNET"></uses-permission>

    <uses-permission
        android:name="android.permission.ACCESS_COARSE_LOCATION"></uses-permission>
    <uses-permission
        android:name="android.permission.ACCESS_FINE_LOCATION"></uses-permission>
    <uses-permission
        android:name="android.permission.READ_PHONE_STATE"></uses-permission>
    <uses-permission
        android:name="android.permission.WRITE_OWNER_DATA"></uses-permission>
    <uses-permission
        android:name="android.permission.READ_OWNER_DATA"></uses-permission>
    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"></uses-permission>
        
        
    <application
        android:icon="@drawable/icon"
        android:label="@string/app_name"
        android:theme="@style/Main" android:debuggable="false" android:hardwareAccelerated="false">
        <activity
            android:label="@string/app_name"
            android:name="com.fabernovel.alertevoirie.SplashScreenActivity"
            android:noHistory="true"
            android:theme="@style/Splash"
            android:screenOrientation="portrait">
            <intent-filter>
                <action
                    android:name="android.intent.action.MAIN" />
                <category
                    android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name="com.fabernovel.alertevoirie.HomeActivity"
            android:theme="@style/Home"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name="com.fabernovel.alertevoirie.NewsActivity"
            android:label="@string/news_title"
            android:screenOrientation="portrait"></activity>
        <activity
            android:label="@string/my_reports_title"
            android:theme="@style/TabBar"
            android:screenOrientation="portrait"
            android:name="com.fabernovel.alertevoirie.MyIncidentsActivity"></activity>

        <activity
            android:label="@string/my_reports_title"
            android:name="com.fabernovel.alertevoirie.MyIncidentsActivityMap"
            android:theme="@style/TabBar"
            android:screenOrientation="portrait"></activity>
        <activity
            android:label="@string/existing_incidents_title"
            android:name="com.fabernovel.alertevoirie.ExistingIncidentsActivity"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name="com.fabernovel.alertevoirie.IncidentsActivityMap"
            android:label="@string/incidents_title"
            android:theme="@style/TabBar"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name="com.fabernovel.alertevoirie.SelectCategoryActivity"
            android:label="@string/select_category_title"
            android:theme="@style/Categories"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name="com.fabernovel.alertevoirie.SelectPositionActivity"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name="com.fabernovel.alertevoirie.ReportDetailsActivity"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name="com.fabernovel.alertevoirie.AddCommentActivity"
            android:windowSoftInputMode="adjustResize"></activity>
        <activity
            android:name="com.fabernovel.alertevoirie.SelectZoomDetail"
            android:screenOrientation="portrait"></activity>
        <activity 
            android:name="com.fabernovel.alertevoirie.CreditsActivity" 
            android:screenOrientation="portrait" android:theme="@style/Main">
        </activity>
        <activity 
            android:name="com.fabernovel.alertevoirie.NewVersionDialogActivity" >
        </activity>
        
        <provider
            android:name="fr.paris.android.signalement.data.CategoryProvider"
            android:authorities="fr.paris.android.signalement.dataprovider.advice"
            android:syncable="false">
        </provider>

        <uses-library
            android:name="com.google.android.maps">
        </uses-library>


    </application>
    
    
</manifest> 